body {
    background: url('imagenes/taza-cafe.jpg') no-repeat center center fixed; 
    background-size: cover; 
}
h1 {
    font-family: 'Parisienne', cursive;
    font-size: 3em;
    text-align: center;
    color: DarkGoldenRod;
    margin-bottom: 5px;
}
h2 {
    font-family: 'Pacifico', cursive;
    color: #FFE4C4;
}
#eslogan {
    font-family: 'Caveat', cursive;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    color: CornSilk;
    border: 2px solid CornSilk;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}
table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: Cornsilk;
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    text-align: center;
}

td, th {
    border: 3px solid DarkGoldenRod;
    padding: 20px;
    vertical-align: center;
}

.categoria {
    background-color: DarkGoldenRod;
    font-size: 2em;
    text-shadow: 3px 3px White;
}

.fotocarta {
    width: 200px;
    height: 200px;
}
ul li {
    color: white;
}

ul li a {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

ul li a:hover {
    font-weight: bold;
}

ul li a:active {
    color: DarkGoldenRod;
}